div.dataTables_paginate ul.pagination {
	-webkit-box-pack: end;
	-webkit-justify-content: flex-end;
	-ms-flex-pack: end;
	justify-content: flex-end;
}

img {
	width: 30px;
	height: 30px;
	margin: 4px;
}

.err {
	color: red
}

.btn-default {
	background: #ccc;
	color: black;
}

.optionItem {
	display: flex;
	flex-flow: row;
	margin: 5px;
}

.radioOption {
	margin-top: 2%;
}

.inputRadioOption {
	margin: 30% 0% 0% 18%
}

.optionName {
	margin-top: 7px;
}

.sticky-footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	text-align: center;
	color: black;
	font-weight: bold;
}

#pagination {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	color: black;
}

.noResult {
	color: red;
	margin-left: 30%;
	margin-top: 50px;
}

.no-background {
	background-image:
		url("https://lyrictheatre.co.uk/wp-content/uploads/2018/12/Dark-of-the-Moon-Event.png");
}

.grey {
	color: grey;
}

.content {
	text-align: center;
	margin: auto;
	padding-top: 15%;
}

.descriptionAssessment {
	text-align: center;
	font-weight: bold;
}

.assignmentTitle {
	font-size: 50px;
}

.btnBack {
	border-radius: 40%;
	height: 30px;
	width: 80px;
}

.alert {
	padding: 20px;
	color: white;
	opacity: 1;
	transition: opacity 0.6s;
	margin-bottom: 15px;
}

.alert.success {
	background-color: #4CAF50;
}

.alert.danger {
	background-color: #f44336;
}

.closebtn {
	margin-left: 15px;
	color: white;
	font-weight: bold;
	float: right;
	font-size: 22px;
	line-height: 20px;
	cursor: pointer;
	transition: 0.3s;
}

.closebtn:hover {
	color: black;
}

.questionName {
	font-weight: bold;
}

.cancelbtn, .acceptbtn {
	float: left;
	width: 50%;
}

.acceptbtn {
	background-color: #f44336;
}

.cancelbtn {
	background-color: #ccc;
	color: black;
}

.container-model {
	padding: 16px;
	text-align: center;
	background-color: aliceblue;
}

.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	padding-top: 50px;
}

.modal-content {
	background-color: #fefefe;
	margin: 5% auto 15% auto;
	border: 1px solid #888;
	width: 22%;
}

.close {
	position: absolute;
	right: 35px;
	top: 15px;
	font-size: 40px;
	font-weight: bold;
	color: #000;
}

.close:hover, .close:focus {
	color: #f44336;
	cursor: pointer;
}

.clearfix::after {
	content: "";
	clear: both;
	display: table;
}

.correctAnswer {
	margin-left: 5px;
	color: #B43104;
}

.btn-dark {
	background-color: #585858;
	color: #ffffff;
}

.preview {
	margin-left: 2%;
}

.mg-left-10{
	margin-left: 10%;
}

.mg-right-6{
	margin-right: 6%;
}

.navbar-custom {
	display: inline-block;
	padding-top: .3125rem;
	padding-bottom: .3125rem;
	margin-right: 1.25rem;
	font-size: 1.25rem;
	line-height: inherit;
	white-space: nowrap;
}

.row-grey {
	background-color: #ffc107;
	color: white;
}

.checkedRow:hover {
	background-color: #d0d0d0;
	color: #1f1f1f;
}

.center {
	display: flex;
	justify-content: center;
}

.form-general {
	border: 1px solid darkgrey;
	padding-top: 2%;
	padding-bottom: 2%;
	text-align: center;
	border-radius: 1%;
}

.space-evenly {
	display: flex;
	justify-content: space-evenly;
}

.checkbox {
	margin: 5px;
}

.error {
	display: flex;
	justify-content: start;
}

.form-title {
	font-weight: bold;
}

.justify-end {
	display: flex;
	justify-content: flex-end;
}

#pagination {
	padding: 1% 5% 1% 5%;
	margin: 0% 0% 0% 0%;
	border-top: 1px solid grey;
	position: fixed;
}

.capitalize {
	font-weight: bold;
	text-transform: capitalize;
}

.tablink:active {
	color: red;
}

.btn-active {
	background: #8000FF;
}

.btn-inactive {
	background: #D8CEF6;
}

.pink-highlight {
	color: #DF01A5;
}

.btn-pink {
	background: #FE2E64;
	color: white;
}

.checkboxChecked {
  	color: #777;
}

.pd-10{
	padding-top: 10%;
}

.display-inline{
	display: flex;
}

.radius-5{
	border-radius: 5%;
}

.hide_block {
	display: none;
}

.flex-container {
	display: flex;
	justify-content: center;
}

.flex-around{
	display: flex;
    justify-content: space-around;
}

.logo-right {
	max-width: 32;
	vertical-align: middle;
}

#wrapper {
	background-image: url("../images/background.jpg");
}

#content-wrapper {
	margin: auto;
	background-color: white;
}

#userDropdown{
	width: 140px;
}
.button-display-right{
	margin-left: -29px;
}
.display-center{
	display: flex;
	justify-content: center;
}
.position-radio{
	margin-top: 7px;
	margin-left: -26px;
}
.answer-choice-postion{
	margin-left: -15px;
}
.mg-top-2{
	margin-top: 2%;
}

.addOptionDiv{
	display: flex;
    justify-content: flex-end;
}

.large-btn{
	width: 250px;
}
.table-mg-top-8{
	margin-top: 8%;
}
.title-class{
	padding-left: 5%;
}
.name-class{
	font-weight: bold;
}

.container-fluid {
	padding: 0px;
}

.footer-copyright {
	color: white;
}