div.dataTables_paginate ul.pagination {
	-webkit-box-pack: end;
	-webkit-justify-content: flex-end;
	-ms-flex-pack: end;
	justify-content: flex-end;
}

img {
    width: 30px;
    height: 30px;
    margin: 4px;
}

.logo-right {
	border-radius: 50px;
	margin: 5% 10% 5% 5%;
}

.grey {
	color: #5d5d5d;
}

.brand-name {
	font-size: 20px;
	font-weight: bold;
	padding-top: 5%;
}

.navbar {
	padding-bottom: 0px;
	padding-top: 0px;
	height: 56px;
	margin-bottom: 2%;
}

.navbar-top-right {
	display: flex;
	flex-wrap: nowrap;
	cursor: pointer;
}

.brand-top-right {
	display: flex;
	flex-wrap: nowrap;
}

.tab-link {
	cursor: pointer;
	font-weight: bold;
	padding-top: 5%;
	width: 44%;
	margin: 0px;
	padding-left: 10%;
}

.tab-link:hover {
	transition: 1s;
	background-color: #e2e2e2de;
	color: #040404de;
	border-bottom: 4px solid black;
}
.sticky-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: black;
}
